@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   

    <h1>Kids Toys</h1>
    <img src="https://wallpapersite.com/images/pages/pic_h/5983.jpg" width="1000px" />
    <p class="lead">Shop exclusive toys for your kids.</p>
    <p><a href="http://localhost:63470/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Puzzle Toys</h2>
        <img src="https://flashbak.com/wp-content/uploads/2015/01/rubik1.jpg" height="300px" width="360px" />
        <p>
            Fun & Educational Wooden Tetris Puzzle Toy for Toddlers & Preschoolers – Colorful,
            Safe & Stimulating Wood Block Puzzle Game Set, Promotes Essential Early Development
            Skills – Perfect Kids Gift Idea
        </p>
        <p><a class="btn btn-default" href="http://localhost:63470/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dolls & Dollhouses</h2>
        <img src="https://i.etsystatic.com/8059446/r/il/10c8cf/1641217063/il_570xN.1641217063_gmmz.jpg"
             height="300px" width="360px" />
        <p>
            Doll play is nurturing. Caring, imagination, and life skills are encouraged by cuddling soft dolls,
            feeding baby dolls, outfitting dress-up dolls. Provided a dollhouse, children create the environment, consider family roles, develop language skills,
            and problem solve. Welcome to doll and dollhouse play!.
        </p>
        <p><a class="btn btn-default" href="http://localhost:63470/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Science & Nature</h2>
        <img src="https://i.ytimg.com/vi/8BLf_CeOBas/maxresdefault.jpg" height="300px" width="360px" />
        <p>
            Kids are naturally curious, so it’s no surprise that these science and nature toys from Fat Brain Toys are a hit with children of any age.
            There’s something undeniably engaging about seeing how science works firsthand. When kids play with these kids’ science kits,
            models and other outstanding scientific toys, you’ll help to instill in them a lifelong love of learning and discovery.
            Find the best selection of cool science toys for kids when you shop online at Fat Brain Toys

        </p>
        <p><a class="btn btn-default" href="http://localhost:63470/">Learn more &raquo;</a></p>
    </div>
</div>